<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<title>Cadastro</title>

<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

</head>

<body>

<div class="container">

<h2>Cadastro</h2>

<form action="/registrar" method="post">

<input type="text" name="usuario" placeholder="Usuário" required>

<div class="senha-container">

<input type="password" name="senha" id="senha" placeholder="Senha" required>

<span onclick="mostrarSenha()" class="icone">👁️</span>

</div>

<button type="submit">Cadastrar</button>
</form>

<a href="{{ url_for('login') }}">Voltar para login</a>

</div>

<script>

function mostrarSenha(){

    var campo = document.getElementById("senha");

    if(campo.type === "password"){
        campo.type = "text";
    }
    else{
        campo.type = "password";
    }

}
</script>
</body>
</html>